{% extends 'socials/base.html'%} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    {% for post in posts %}
    <div class="card mt-4"
         style="width: 40rem;">
        <div class="card-header">
            <img src="{{post}}"
                 alt="">
            <a href="">{{post.user}}</a>
        </div>
        <div class="card-body "
             data-toggle="modal"
             data-target="#{{post.id}}">
            <img class="no-gutters
             card-img-top"
                 src="{{post.image}}"
                 alt="Card image cap" ">
        </div>
        <div class="
                 card-body">
            <div class="icons d-flex flex-row">
                <p class="card-text"><i class="far fa-heart"></i></p>
                <p class="card-text ml-3"><i class="far fa-comment"></i></p>
            </div>
            <p class="card-text">Likes</p>
            <div class="caption d-flex flex-row">
                <a href="#"
                   class="card-link">{{post.user}}</a>
                <p class="captioned ml-2">{{post.post_caption}}</p>
            </div>
            {% for comment in post.comments.all %} {{ comment.user.username}} {{comment.comment }} {% endfor %}
            <form action="{% url 'comment' post_id=post.id %}"
                  enctype="multipart/form-data"
                  novalidate
                  method="post">
                {% csrf_token %}
                <input class="add-comment"
                       name="comment"
                       id="comment{{post.id}}"
                       type="text"
                       placeholder="Comment on this image....">
                <button type="submit"
                        class="btn btn-default"
                        style="margin-left: 0em;">comment</button>
            </form>

        </div>
    </div>
    <div aria-hidden="true"
         aria-labelledby="myModalLabel"
         class="modal fade"
         id="{{post.id}}"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-lg"
             role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <img src="{{post.image}}"
                         alt=""
                         style="width:100%">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>

{% comment %} modal for posting image {% endcomment %}
<div class="modal fade modal-bottom"
     id="uploadimage">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">POST IMAGE</h5>
                <button class="close"
                        data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <form class="d-flex flex-column"
                      action="{% url 'home' %}"
                      method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %} {{ form | crispy }}
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="POST">
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}