{%extends 'socials/base.html'%}


{% block content %}
<div class="container">
    {{word}}


    {% for post in posts %}
    <div class="card mt-4"
         style="width: 40rem;">
        <div class="card-header">
            <img src="{{post.user.posts.profile_picture}}"
                 alt="">
            <a href="">{{post.user}}</a>
        </div>
        <img class="card-img-top"
             src="{{post.image}}"
             alt="Card image cap">
        <div class="card-body">
            <div class="icons d-flex flex-row">
                <p class="card-text"><i class="far fa-heart"></i></p>
                <p class="card-text ml-3"><i class="far fa-comment"></i></p>
            </div>
            <p class="card-text">Likes</p>
            <div class="caption d-flex flex-row">
                <a href="#"
                   class="card-link">{{post.user}}</a>
                <p class="captioned ml-2">{{post.post_caption}}</p>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
<div class="modal fade modal-bottom"
     id="uploadimage">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SELECT IMAGE</h5>
                <button class="close"
                        data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <form class="d-flex flex-column"
                      action="{% url 'home' %}"
                      method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form}}
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="POST">
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}