/* profile html styling */
/*  ///////////////    */

.profile {
    margin-left: 10em;
}

p {
    color: green;
}

.motion {
    width: 23em;
    height: auto;
}

/* END OF PROFILE */
/*///////////////*/