/* profile html styling */
/*  ///////////////    */

.profile {
    margin-left: 10em;
}

p {
    color: green;
}

.motion {
    width: 23em;
    height: auto;
}

/* END OF PROFILE */
/*///////////////*/


/*////////////////////////*/
/* NAVBAR STYLING         */
/*////////////////////////*/
.logo {
    font-family: 'Oleo Script', cursive;
}





/*////////////////////////*/
/* END   STYLING         */
/*////////////////////////*/

/*Registration new user*/

.reg-image {
    background-image: url('../image/iphone.jpg');
}

/*///////END OF REG////////*/