<div class="container">
    <nav class="navbar navbar-light bg-light justify-content-between fixed-bottom mc-5">
        <a class="navbar-brand"><i class="fas fa-home"></i></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">Search</button>
        </form>
        <a href=""><i class="fas fa-camera-retro"></i></a>

    </nav>
</div>