<div class="container-fluid">
    <nav class="d-flex flex-box navbar navbar-expand-lg sticky-top navbar-light bg-light border-bottom justify-content-center block-example border-bottom border-dark">
        <a class="navbar-brand block-example block-example"
           href="http://127.0.0.1:8000"><i class="fab fa-instagram fa-2x"></i></a>
        <a class="logo navbar-brand justify-content-center block-example border-left border-dark pl-4"
           href="http://127.0.0.1:8000"
           style="font-family: 'Oleo Script', cursive; font-size:2em;">Instagram</a>
        <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul class="float-right">
                <li class="dropdown">
                    <a href="/profile"
                       class="dropdown-toggle btn btn-default"
                       data-toggle="dropdown"
                       role="button"
                       aria-expanded="false"><i class="fas fa-user"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li>
                            <a href="http://127.0.0.1:8000">Home</a>
                        </li>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <li>
                <a class='btn btn-default'
                   href="/accounts/login">Login</a>
            </li>

            {% endif %}
        </div>
    </nav>
</div>